*{
    padding:0;
    margin:0;
}
body{
    background-color:rgb(49, 46, 43);
}
.header{
    height:5vh;
}
.container{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: rgb(49, 46, 43);
    margin-top:2rem;
    margin-left:5rem;
    margin-right:5rem;
    margin-bottom:3rem;
    height:100%;
    border-radius: 10px 50px;
    justify-content: space-around;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem;
}
.h1{
    display:flex;
    color:rgb(49, 46, 43);
    height:5rem;
    background-color:#dad7d5;
    border-radius:1.5rem 1.5rem 0 0;
    justify-content: center;
    align-items: center;
    font-size:2rem;
}
.h1 center{
    font-size:0.5rem;
}
.d1{
    padding:5%;
    height:25vh;
    font-size:1rem;
}
.classic{
    box-sizing: border-box;
    background-color: white;
    width:25%;
    box-sizing: border-box;
    border-radius:2rem;
    box-shadow:0 5px grey;
    height:80vh;
    line-height:5vh;
}
.gold{
    box-sizing: border-box;
    background-color: white;
    width:25%;
    box-sizing: border-box;
    border-radius: 2rem;
    box-shadow:0 5px grey;
    height:80vh;
    line-height:5vh;
}
.platinum{
    box-sizing: border-box;
    background-color:#0096c6;
    width:25%;
    box-sizing: border-box;
    border-radius: 2rem;
    box-shadow:0 5px lightseagreen;
    color:white;
    height:80vh;
    line-height:5vh;
}
.platinum .h1{
    background-color:#007ba2;
    color:white;
}
.platinum .buttn a{
    box-shadow:2px 2px #cd8026;
    background-color:darkorange;
    color:white;
}
.platinum .buttn a:hover{
    background-color:orange;
}
ul{
    list-style-type:square;
    list-style-position: inside;
}
.buttn{
    margin-top:8vh;
    display:flex;
    font-size: 1.5rem;
    text-align:center;
    box-sizing:border-box;
    width:fit-content;
    justify-content: center;
    align-items: center;
}
.buttn a{
    text-decoration: none;
    padding:0 2rem 0 2rem;
    border-radius:1rem;
    color:darkslategray;
    box-shadow: 0.2rem 0.2rem 0.2rem #bdbcb8;
    width:10rem;
    height:3rem;
}
.buttn a:hover{
    background-color:#e7e6e4;
}
.foot{
    margin-bottom:2rem;
}
@media screen and (max-width: 1090px) {
    .container{
        flex-direction: column;
        font-size:1.5rem;
        height:auto;
    }
    .classic{
        width:70vw;
        margin-bottom:3rem;
        height:auto;
        align-self:center;
    }
    .gold{
        width:70vw;
        margin-bottom:3rem;
        height:auto;
        align-self:center;
    }
    .platinum{
        width:70vw;
        height:auto;
        align-self:center;
    }
    .buttn{
        margin-bottom:2rem;
    }
}

@media screen and (max-width:400px){
    .classic{
        width:fit-content;
    }
    .gold{
        width:fit-content;
    }
    .platinum{
        width:fit-content;
    }
}